.dialog{
    background-color: black;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 10px;
}
.dialog a{
    color: lavender;
    text-decoration: none;
    font-family: "Gadugi", serif;
    font-size: larger;
}
.dialog .active{
    color: white;
}