.app-wrapper{
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.header{
grid-area: h;
  background-color: darksalmon;
}
.nav{
grid-area: n;
  background-color: darksalmon;
}
.content{
  grid-area: c;
  background-color: azure;
}
.content img{
  width: 100%;
}
.header img{
  height: 40px;
  width: 40px;
}